@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');
@keyframes loading
{
    0% { color: rgb(140, 200, 255); }
    50% { color: rgb(255, 146, 146); }
    100% { color: rgb(140, 200, 255); }
}

@keyframes greenblue
{
    0% { color: rgb(140, 200, 255); }
    50% { color: rgb(255, 146, 146); }
    100% { color: rgb(140, 200, 255); }
}
.myContent {
    text-align: center;
    font-family: 'Jua', sans-serif;
    animation: loading 3s, 3s greenblue infinite;
}